.register {
	height: 100vh;
	background-color: rgb(193, 190, 255);
	display: flex;
	align-items: center;
	justify-content: center;

	.card {
		display: flex;
		flex-direction: row-reverse;
		width: 50%;
		background-color: white;
		border-radius: 10px;
		min-height: 600px;
		overflow: hidden;

		.left {
			flex: 1;
			background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
				url("https://images.pexels.com/photos/7681761/pexels-photo-7681761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
					center;
			background-size: cover;
			padding: 50px;
			color: white;
			display: flex;
			flex-direction: column;
			gap: 30px;

			h1 {
				font-size: 70px;
				line-height: 100px;
			}
			p {
			}
			span {
				font-size: 14px;
			}
			button {
				width: 50%;
				padding: 10px;
				border-radius: 10px;
				border: none;
				background-color: white;
				color: rebeccapurple;
				font-weight: bold;
				cursor: pointer;
			}
		}
		.right {
			flex: 1;
			padding: 50px;
			display: flex;
			flex-direction: column;
			gap: 50px;
			justify-content: center;

			h1 {
				color: #555;
			}
			form {
				display: flex;
				flex-direction: column;
				gap: 30px;

				input {
					border: none;
					border-bottom: 1px solid lightgrey;
					padding: 20px 10px;
				}
				button {
					width: 50%;
					padding: 10px;
					border-radius: 10px;
					border: none;
					color: white;
					background-color: #938eef;
					font-weight: bold;
					cursor: pointer;
				}
			}
		}
	}
}
