@import "../../style.scss";

.login {
  height: 100vh;
  background-color: rgb(190, 204, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

	@include tablet {
		
	}
	@include mobile {
		width: 80%;
		flex-direction: column;
		min-height: 400px;
	}

    .left {
      flex: 1;
      background: linear-gradient(rgba(11, 24, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/7681761/pexels-photo-7681761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
          center;
      background-size: cover;
      padding: 50px;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 30px;

	  @include tablet {
		
	  }
	  @include mobile {
		max-height: 200px;
		padding: 30px;

	  }

      h1 {
        font-size: 100px;
        line-height: 100px;

		@include tablet {
		
		}
		@include mobile {
			font-size: 50px;
			line-height: 1;
			width: 10%;
  
		}
      }
      p {
		line-height: 1.5;
		@include tablet {
		
		}
		@include mobile {
			display: none;
  
		}
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: white;
        color: rgb(51, 59, 153);
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgrey;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border-radius: 10px;
          border: none;
          color: white;
          background-color: #8ea1ef;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
