@import "../../style.scss";

.comments {
	@include themify($themes) {
		padding: 40px 0px;

		.write {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			margin: 20px 0px;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
				cursor: pointer;
			}

			input {
				padding: 10px;
				border: 1px solid themed("border");
				flex: 6;
				background-color: transparent;
				color: themed("textColor");
			}
			button {
				border: none;
				background-color: #1548c9;
				color: white;
				padding: 10px;
				cursor: pointer;
				border-radius: 3px;
			}
		}

		.comment {
			margin: 30px 0px;
			display: flex;
			align-items: start;
			justify-content: space-between;
			gap: 20px;

			@include mobile {
				
			}

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
				cursor: pointer;
			}

			.info {
				flex: 6;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;

				span {
					cursor: pointer;
					font-weight: 500;
					color: themed("textColor");
				}

				p {
					color: themed("textColorSoft");

					@include mobile {
						
						font-size: 15px;
					}
				}

				.interaction {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;

					span {
						cursor: pointer;
						font-weight: 600;
				font-size: 14px;

						color: themed("textColorSoft");
					}
				}
			}

			.date {
				flex: 1;
				align-self: center;
				text-align: left;
				font-size: 12px;
				color: gray;

				@include mobile {
					margin-top: 20px;
					align-self:flex-start;
					font-size: 12px;
				}
			}
		}
	}
}
