@import "../../style.scss";
.post {
	@include themify($themes) {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 10px;
		background-color: themed("bg");

		-webkit-box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.3);

		.container {
			padding: 20px;
			.user {
				display: flex;
				justify-content: space-between;

				.user-info {
					display: flex;
					gap: 20px;

					img {
						height: 35px;
						width: 35px;
						border-radius: 50%;
						border: 3px solid themed("textColorSoft");
						object-fit: cover;
						cursor: pointer;
					}

					.details {
						display: flex;
						flex-direction: column;

						.author {
							color: themed("textColor");
							cursor: pointer;
							font-weight: 600;

							&:hover {
								text-decoration: underline;
							}
						}

						.date {
							font-size: 12px;
							color: themed("textColor");
						}
					}
				}
				.treeDot {
					color: themed("textColor");
					cursor: pointer;
				}
				.basic-menu {
					background-color: black;
					cursor: pointer;

					
				}
			}

			.content {
				padding: 20px 0px;

				p {
					color: themed("textColor");
					font-weight: 500;
					padding-bottom: 20px;
				}

				img {
					width: 100%;
					height: 500px;
					object-fit: cover;
					cursor: pointer;
				}
			}

			.info {
				display: flex;
				align-items: center;
				gap: 20px;

				.item {
					display: flex;
					align-items: center;
					gap: 5px;
					cursor: pointer;
					color: themed("textColor");
					font-weight: 500;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
