@import "../../style.scss";
.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");

    .images {
      width: 100%;
      height: 300px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
      .profilePic {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 70px;
        top: 270px;
        border: 5px solid white;

        @include tablet {
          left: 30px;
          top: 280px;
          height: 180px;
          width: 180px;
        }

        @include mobile {
          right: 0px;
          left: 0px;
          margin: auto;
          top: 210px;
          height: 150px;
          width: 150px;
        }
      }
      .changePic {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        position: absolute;
        top: 410px;
        left: 225px;
        padding: 10px;
        background-color: rgb(139, 138, 138);
        border: 2px solid themed("textColorSoft");
        cursor: pointer;
        transition: all 0.2s ease;

        .bi-camera-fill {
          font-size: 27px;
          color: white;
        }
        @include tablet {
          top: 410px;
          left: 170px;
          padding: 5px;
        }
        @include mobile {
          top: 316px;
          left: 230px;
          padding: 5px;
        }

        &:hover {
          transform: scale(1.07);
          background-color: rgb(148, 147, 147);
        }
      }
    }

    .profileContainer {
      background-color: themed("bgSoft");
      padding: 20px 60px;

      @include mobile {
        padding: 10px;
      }

      @include tablet {
        padding: 20px;
      }

      .userInfo {
        display: flex;
        align-items: center;
        padding: 20px 20px 50px 20px;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

        @include mobile {
          flex-direction: column;
          height: 30vh;
          padding: 20px;
          margin-top: 20px;
        }

        .info {
          flex: 6;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin-left: 220px;
          gap: 20px;
          @include tablet {
            margin-left: 190px;
          }
          @include mobile {
            align-items: center;
            justify-content: center;
            margin-left: 0px;
          }

          .name {
            font-size: 30px;
            font-weight: 500;
            color: themed("textColor");
          }

          .friends {
            font-weight: 500;
            color: themed("textColorSoft");
          }
          .contactInfo {
            display: flex;
            gap: 5px;

            a {
              .icon {
                transition: all 0.2s ease;
                &:hover {
                  opacity: 0.8;
                  transform: scale(1.1);
                }
              }
            }
          }
        }

        .action {
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 10px;
          @include tablet {
            gap: 5px;
            margin-left: 10px;
          }
          @include mobile {
            margin-left: 30px;
          }

          .item {
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
              padding: 5px 10px;
              border: none;
              background-color: #2375e1fe;
              border-radius: 5px;
              color: white;
              font-weight: 500;
              cursor: pointer;
              &:hover {
                background-color: #2375e1e0;
              }
            }

            .threeDot {
              color: themed("textColor");
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
