@import "../../style.scss";

.leftBar {
	@include themify($themes) {
		flex: 2;
		position: sticky;
		top: 70px;
		height: calc(100vh - 70px);
		overflow: scroll;
		background-color: themed("bg");
		color: themed("textColor");

		@include mobile {
			display: none;
		}
		

		&::-webkit-scrollbar {
			display: none;
		}

		.container {
			padding: 20px;

			hr {
				margin: 20px 0px;
				border: none;
				background-color: themed("border");
				height: 0.5px;
			}
			.menu {
				display: flex;
				flex-direction: column;

				span {
					font-size: 12px;
					margin-bottom: 10px;
				}
				.user {
					display: flex;
					align-items: center;
					gap: 10px;
					padding: 10px;
					cursor: pointer;
					border-radius: 10px;

					&:hover {
						opacity: 0.9;
						background-color: themed("bgSoft");
					}

					img {
						height: 30px;
						width: 30px;
						object-fit: cover;
						border-radius: 50%;
					}

					span {
						font-size: 14px;
					}
				}

				.item {
					display: flex;
					align-items: center;
					gap: 10px;
					padding: 10px;
					border: "none";
					cursor: pointer;
					border-radius: 10px;

					&:hover {
						opacity: 0.9;
						background-color: themed("bgSoft");
					}

					img {
						width: 30px;
					}

					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}
