@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 0.5px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;

      @include mobile {
        gap: 40px;
      }

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 10px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
            position: absolute;
            top: 53px;
            left: 35px;
            width: 100%;
            background-color: themed("bg");
            border: 0.5px solid lightgray;
            border-radius: 0px 0px 5px 5px;
            // border-top: none;
            padding: 10px;
            transition: all 0.5s linear;
          }

          @include tablet {
            width: 230px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }
      .link-profile {
        text-decoration: none;
        color: themed("textColor");
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}
